.warning-text {
  padding:5%;
  background-color: #f34f3a;
  margin: 0.3em 0 0.5em 0;
}

.warning-text p {
  font-family: "Montreal";
  font-size: 1em;
  line-height: 1.25em;
  color:white;
  margin-bottom: 0.7em;
}

.warning-text p:last-of-type{
  margin-bottom: 0em;
}

.logo {
  width:30%;
  margin: 8% 0 2% 10%;
}

.Page-Header {
  font-size: 1.25em;
  color: white;
  text-align: center;
  padding: 5% 0;
  text-transform: uppercase;
  background-color: #f34f3a;
  margin:.5em 0 0 0;
}

.labels {
  margin-bottom: 2.5%;
  font-size: 1.25em;
  margin-top: 45px;
  display: block;
}

.nameOutput {
  font-family:"Montreal";
  font-weight: lighter;
  font-size: 2em;
  margin-bottom: .5em;
  word-wrap:break-word;
}

 #allergyItems { /*formats list of allergies and X buttons*/
  font-family: "Montreal";
  font-size: 1.25em;
  font-weight: lighter;
  line-height: 1.5em;
  padding-top: 1em;
 }

.add {
  width: 3.125em;
  border-radius: 1.5625em ;
  font-size: 1em;
  line-height: 2em;
  background-color: #0a9bae;
  border: none;
  color: white;
}

.delete {
  width: 2.5em;
  border-radius: 1.25em;
  background-color: #f34f3a;
  font-size: 0.65em;
  padding: .5em;
  margin-left: .75em;
  font-family: "Montreal";
}

.last {
  margin-bottom: 5em;
}

