@font-face {
     font-family: 'Montreal';
     src: url('../fonts/Montreal-Regular.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'Montreal';
     src: url('../fonts/Montreal-Bold.ttf') format('truetype');
     font-weight: bold;
     font-style: normal;
}

@font-face {
     font-family: 'Montreal';
     src: url('../fonts/Montreal-Light.ttf') format('truetype');
     font-weight: lighter;
     font-style: normal;
}

/*Merriweather*/
@font-face {
     font-family: 'Merriweather';
     src: url('../fonts/Merriweather-Regular.otf') format('opentype');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'Merriweather';
     src: url('../fonts/Merriweather-Bold.otf') format('opentype');
     font-weight: bold;
     font-style: normal;
}

@font-face {
     font-family: 'Merriweather';
     src: url('../fonts/Merriweather-Light.otf') format('opentype');
     font-weight: lighter;
     font-style: normal;
}

@font-face {
     font-family: 'Merriweather';
     src: url('../fonts/Merriweather-Italic.otf') format('opentype');
     font-weight: normal;
     font-style: italic;
}

@font-face {
     font-family: 'Merriweather';
     src: url('../fonts/Merriweather-LightItalic.otf') format('opentype');
     font-weight: lighter;
     font-style: italic;
}

@font-face {
     font-family: 'Merriweather';
     src: url('../fonts/Merriweather-BoldItalic.otf') format('opentype');
     font-weight: bold;
     font-style: italic;
}

@font-face {
     font-family: 'Merriweather';
     src: url('../fonts/Merriweather-Black.otf') format('opentype');
     font-weight: bolder;
     font-style: normal;
}

@font-face {
     font-family: 'Merriweather';
     src: url('../fonts/Merriweather-HeavyItalic.otf') format('opentype');
     font-weight: bolder;
     font-style: italic;
}


@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?dtw5ze');
	src:url('../fonts/icomoon.eot?#iefixdtw5ze') format('embedded-opentype'),
		url('../fonts/icomoon.woff?dtw5ze') format('woff'),
		url('../fonts/icomoon.ttf?dtw5ze') format('truetype'),
		url('../fonts/icomoon.svg?dtw5ze#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
	content: "\e600";
}
.icon-notification:before {
	content: "\e601";
}
.icon-question:before {
	content: "\e602";
}
.icon-info:before {
	content: "\e603";
}
.icon-blocked:before {
	content: "\e604";
}
.icon-cancel-circle:before {
	content: "\e605";
}
.icon-checkmark-circle:before {
	content: "\e606";
}
.icon-close:before {
	content: "\e607";
}
.icon-checkmark:before {
	content: "\e608";
}
.icon-plus:before {
	content: "\e609";
}

